@model Organizr.Models.Idea

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div class="totalIdea">
  <dd>@Html.DisplayFor(model => model.Description)
  </dd>
  <div class="totalIdea-submitter">
    <dd>By @Model.Submitter.UserName on @Model.Submitted.Date</dd>
  </div>
</div>
<p>
  @*    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
